In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Nicolas\\Proyecto Medio Ambiental\\Proyecto-_Medioambiental\\Datasets\\owid-co2-data.csv")

In [3]:
print(list(df.columns))

['country', 'year', 'iso_code', 'population', 'gdp', 'cement_co2', 'cement_co2_per_capita', 'co2', 'co2_growth_abs', 'co2_growth_prct', 'co2_including_luc', 'co2_including_luc_growth_abs', 'co2_including_luc_growth_prct', 'co2_including_luc_per_capita', 'co2_including_luc_per_gdp', 'co2_including_luc_per_unit_energy', 'co2_per_capita', 'co2_per_gdp', 'co2_per_unit_energy', 'coal_co2', 'coal_co2_per_capita', 'consumption_co2', 'consumption_co2_per_capita', 'consumption_co2_per_gdp', 'cumulative_cement_co2', 'cumulative_co2', 'cumulative_co2_including_luc', 'cumulative_coal_co2', 'cumulative_flaring_co2', 'cumulative_gas_co2', 'cumulative_luc_co2', 'cumulative_oil_co2', 'cumulative_other_co2', 'energy_per_capita', 'energy_per_gdp', 'flaring_co2', 'flaring_co2_per_capita', 'gas_co2', 'gas_co2_per_capita', 'ghg_excluding_lucf_per_capita', 'ghg_per_capita', 'land_use_change_co2', 'land_use_change_co2_per_capita', 'methane', 'methane_per_capita', 'nitrous_oxide', 'nitrous_oxide_per_capita', 'oil_co2', 'oil_co2_per_capita', 'other_co2_per_capita', 'other_industry_co2', 'primary_energy_consumption', 'share_global_cement_co2', 'share_global_co2', 'share_global_co2_including_luc', 'share_global_coal_co2', 'share_global_cumulative_cement_co2', 'share_global_cumulative_co2', 'share_global_cumulative_co2_including_luc', 'share_global_cumulative_coal_co2', 'share_global_cumulative_flaring_co2', 'share_global_cumulative_gas_co2', 'share_global_cumulative_luc_co2', 'share_global_cumulative_oil_co2', 'share_global_cumulative_other_co2', 'share_global_flaring_co2', 'share_global_gas_co2', 'share_global_luc_co2', 'share_global_oil_co2', 'share_global_other_co2', 'share_of_temperature_change_from_ghg', 'temperature_change_from_ch4', 'temperature_change_from_co2', 'temperature_change_from_ghg', 'temperature_change_from_n2o', 'total_ghg', 'total_ghg_excluding_lucf', 'trade_co2', 'trade_co2_share']

In [4]:
# Creating a subset of the original DataFrame by selecting all columns containing historical CO2 data
df_suma_histoica_co2 = df.loc[:, 'country': 'cumulative_other_co2']

In [5]:
# Dropping columns from index 5 to 23 (inclusive)
cols_a_eliminar = df_suma_histoica_co2.columns[5:24]
df_suma_histoica_co2 = df_suma_histoica_co2.drop(columns=cols_a_eliminar)

In [6]:
# Dropping columns from 'cumulative_cement_co2' to 'cumulative_other_co2'
cols_a_eliminar_dos = df_suma_histoica_co2.loc[:, 'cumulative_cement_co2':'cumulative_other_co2'].columns

In [7]:
# Cleaning DataFrame by removing columns from the subset df_suma_histoica_co2
df = df.drop(columns=cols_a_eliminar_dos)

In [20]:
# filtering columns that start with 'share'
# To know all the columns that are within the participation of global emissions
cols_share = list(filter(lambda col: col.startswith('share'), df.columns))

In [ ]:
# Removing columns from index 5 to index 'share_global_cement_co2'
start_idx = 5
end_idx = list(df.columns).index('share_global_cement_co2') 
df_global_co2 = df
for col in df_global_co2.columns[start_idx:end_idx]:
    df_global_co2 = df_global_co2.drop(columns=col)

In [13]:
# Creating a subset of the original DataFrame by selecting all columns containing global emission data
df_participation_global_co2 = df_global_co2.loc[:, 'country':'share_of_temperature_change_from_ghg']

In [21]:
# Cleaning DataFrame by removing columns from the subset df_participation_global_co2
start_index = list(df.columns).index('share_global_cement_co2')
end_index = list(df.columns).index('share_of_temperature_change_from_ghg') + 1  # +1 to include the last column
for col in df.columns[start_index:end_index]:
    df = df.drop(columns=col)

In [ ]:
# Creating a list of greenhouse gas and climate change related columns
ghg_climate_columns = [
    'ghg_excluding_lucf_per_capita',
    'ghg_per_capita',
    'methane',
    'methane_per_capita',
    'nitrous_oxide',
    'nitrous_oxide_per_capita',
    'temperature_change_from_ch4',
    'temperature_change_from_co2',
    'temperature_change_from_ghg',
    'temperature_change_from_n2o',
    'total_ghg',
    'total_ghg_excluding_lucf'
]

In [42]:
# Move the columns of ghg_climate_columns to the end of the DataFrame
cols = [col for col in df.columns if col not in ghg_climate_columns] + ghg_climate_columns
df = df[cols]

In [50]:
# Creating a subset of the original DataFrame by selecting all columns containing climate change and greenhouse gas variables
star_index_c = 5
end_index_c = list(df.columns).index('ghg_excluding_lucf_per_capita') 
df_change_ce = df 
for col in df_change_ce.columns[star_index_c:end_index_c]:
    df_change_ce = df_change_ce.drop(columns=col)

In [ ]:
df_clim_change_greenhouse = df_change_ce

,country,year,iso_code,population,gdp,ghg_excluding_lucf_per_capita,ghg_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf
0,Afghanistan,1750,AFG,2802560.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1751,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1752,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1753,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1754,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50186,Zimbabwe,2019,ZWE,15271377.0,2.514642e+10,1.148,2.249,12.957,0.848,5.096,0.334,0.001,0.001,0.002,0.0,34.348,17.531
50187,Zimbabwe,2020,ZWE,15526888.0,2.317871e+10,1.016,2.017,12.643,0.814,4.574,0.295,0.001,0.001,0.002,0.0,31.323,15.775
50188,Zimbabwe,2021,ZWE,15797220.0,2.514009e+10,1.114,2.124,13.046,0.826,4.858,0.308,0.001,0.001,0.002,0.0,33.549,17.599
50189,Zimbabwe,2022,ZWE,16069061.0,2.590159e+10,1.115,2.102,12.946,0.806,4.855,0.302,0.001,0.001,0.002,0.0,33.772,17.910
50190,Zimbabwe,2023,ZWE,16340829.0,NaN,1.139,2.078,12.785,0.782,4.658,0.285,0.001,0.001,0.002,0.0,33.955,18.608

In [ ]:
#df_suma_histoica_co2 dataset subset 
#df_participation_global_co2 subset